YurticiKargoApiTest/Connected Services/YurticiInfo/KOPSWebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://yurticikargo.com.tr/sswIntegrationServices" xmlns:ns1="http://yurticikargo.com.tr/WSExceptions/" name="KOPSWebServices" targetNamespace="http://yurticikargo.com.tr/sswIntegrationServices" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://yurticikargo.com.tr/sswIntegrationServices" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://yurticikargo.com.tr/WSExceptions/" />
      <xs:element name="CustParamsVO" type="tns:CustParamsVO" />
      <xs:element name="CustomerVO" type="tns:CustomerVO" />
      <xs:element name="DocCargoField2VO" type="tns:DocCargoField2VO" />
      <xs:element name="DocCargoVO" type="tns:DocCargoVO" />
      <xs:element name="InvDocField2VO" type="tns:InvDocField2VO" />
      <xs:element name="ShippingDataDetailVO" type="tns:ShippingDataDetailVO" />
      <xs:element name="ShippingDataV2DetailVO" type="tns:ShippingDataV2DetailVO" />
      <xs:element name="ShippingDataV3DetailVO" type="tns:ShippingDataV3DetailVO" />
      <xs:element name="TrackingDetailVO" type="tns:TrackingDetailVO" />
      <xs:element name="TrackingParamsVO" type="tns:TrackingParamsVO" />
      <xs:element name="UnitParamsVO" type="tns:UnitParamsVO" />
      <xs:element name="XShippingV2DetailVO" type="tns:XShippingV2DetailVO" />
      <xs:element name="YurticikargoWSException" nillable="true" type="ns1:YurticikargoWSException" />
      <xs:element name="getDeliveryCollectionInfoByReference" type="tns:getDeliveryCollectionInfoByReference" />
      <xs:element name="getDeliveryCollectionInfoByReferenceResponse" type="tns:getDeliveryCollectionInfoByReferenceResponse" />
      <xs:element name="listIncomingWithDocCargoReference" type="tns:listIncomingWithDocCargoReference" />
      <xs:element name="listIncomingWithDocCargoReferenceResponse" type="tns:listIncomingWithDocCargoReferenceResponse" />
      <xs:element name="listInvDocumentByCustIdV2" type="tns:listInvDocumentByCustIdV2" />
      <xs:element name="listInvDocumentByCustIdV2Response" type="tns:listInvDocumentByCustIdV2Response" />
      <xs:element name="listInvDocumentByGrpSpecialField" type="tns:listInvDocumentByGrpSpecialField" />
      <xs:element name="listInvDocumentByGrpSpecialFieldResponse" type="tns:listInvDocumentByGrpSpecialFieldResponse" />
      <xs:element name="listInvDocumentByReferenceWithPayer" type="tns:listInvDocumentByReferenceWithPayer" />
      <xs:element name="listInvDocumentByReferenceWithPayerResponse" type="tns:listInvDocumentByReferenceWithPayerResponse" />
      <xs:element name="listInvDocumentByTrackingNumber" type="tns:listInvDocumentByTrackingNumber" />
      <xs:element name="listInvDocumentByTrackingNumberResponse" type="tns:listInvDocumentByTrackingNumberResponse" />
      <xs:element name="listInvDocumentByWaybillNo" type="tns:listInvDocumentByWaybillNo" />
      <xs:element name="listInvDocumentByWaybillNoResponse" type="tns:listInvDocumentByWaybillNoResponse" />
      <xs:element name="listInvDocumentInterfaceByReference" type="tns:listInvDocumentInterfaceByReference" />
      <xs:element name="listInvDocumentInterfaceByReferenceResponse" type="tns:listInvDocumentInterfaceByReferenceResponse" />
      <xs:element name="listInvDocumentInterfaceWithFailedDeliveryV2" type="tns:listInvDocumentInterfaceWithFailedDeliveryV2" />
      <xs:element name="listInvDocumentInterfaceWithFailedDeliveryV2Response" type="tns:listInvDocumentInterfaceWithFailedDeliveryV2Response" />
      <xs:element name="listNgiShipping" type="tns:listNgiShipping" />
      <xs:element name="listNgiShippingResponse" type="tns:listNgiShippingResponse" />
      <xs:element name="listNgiShippingWithDocId" type="tns:listNgiShippingWithDocId" />
      <xs:element name="listNgiShippingWithDocIdResponse" type="tns:listNgiShippingWithDocIdResponse" />
      <xs:element name="listNgiShippingWithPayer" type="tns:listNgiShippingWithPayer" />
      <xs:element name="listNgiShippingWithPayerResponse" type="tns:listNgiShippingWithPayerResponse" />
      <xs:complexType name="listInvDocumentByGrpSpecialField">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element minOccurs="0" name="custParamsVO" type="tns:CustParamsVO" />
          <xs:element minOccurs="0" name="fieldName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fieldValueArray" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="dateParamType" type="xs:string" />
          <xs:element minOccurs="0" name="withCargoLifecycle" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CustParamsVO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="invCustIdArray" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="senderCustIdArray" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="receiverCustIdArray" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listInvDocumentByGrpSpecialFieldResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShippingDataResponseVO" type="tns:shippingDataResponseVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="shippingDataResponseVO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResultVO">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="shippingDataDetailVOArray" nillable="true" type="tns:ShippingDataDetailVO" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseResultVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="outFlag" type="xs:string" />
          <xs:element minOccurs="0" name="outResult" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShippingDataDetailVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="transactionStatus" type="xs:string" />
          <xs:element minOccurs="0" name="transactionErrCode" type="xs:string" />
          <xs:element minOccurs="0" name="transactionMessage" type="xs:string" />
          <xs:element minOccurs="0" name="fieldName" type="xs:string" />
          <xs:element minOccurs="0" name="fieldValue" type="xs:string" />
          <xs:element minOccurs="0" name="docId" type="xs:string" />
          <xs:element minOccurs="0" name="invoiceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="docNumber" type="xs:string" />
          <xs:element minOccurs="0" name="waybillNo" type="xs:string" />
          <xs:element minOccurs="0" name="docCargoId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustName" type="xs:string" />
          <xs:element minOccurs="0" name="senderAddressTxt" type="xs:string" />
          <xs:element minOccurs="0" name="invCustId" type="xs:string" />
          <xs:element minOccurs="0" name="invCustName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCustId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCustName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverAddressTxt" type="xs:string" />
          <xs:element minOccurs="0" name="senderAddressId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverAddressId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCityId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCityId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCityName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCityName" type="xs:string" />
          <xs:element minOccurs="0" name="senderTownId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverTownId" type="xs:string" />
          <xs:element minOccurs="0" name="senderTownName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverTownName" type="xs:string" />
          <xs:element minOccurs="0" name="senderMobilePhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" name="receiverMobilePhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" name="documentReceiverMobilePhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" name="documentDate" type="xs:string" />
          <xs:element minOccurs="0" name="documentTime" type="xs:string" />
          <xs:element minOccurs="0" name="documentDelFlag" type="xs:string" />
          <xs:element minOccurs="0" name="receiverInfo" type="xs:string" />
          <xs:element minOccurs="0" name="docType" type="xs:string" />
          <xs:element minOccurs="0" name="docTypeExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="contractId" type="xs:string" />
          <xs:element minOccurs="0" name="trackingUrl" type="xs:string" />
          <xs:element minOccurs="0" name="shipmentDistance" type="xs:string" />
          <xs:element minOccurs="0" name="estimatedDeliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="cargoType" type="xs:string" />
          <xs:element minOccurs="0" name="cargoTypeExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="pickupType" type="xs:string" />
          <xs:element minOccurs="0" name="pickupTypeExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryType" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryTypeExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryTime" type="xs:string" />
          <xs:element minOccurs="0" name="totalPrice" type="xs:string" />
          <xs:element minOccurs="0" name="totalVat" type="xs:string" />
          <xs:element minOccurs="0" name="totalAmount" type="xs:string" />
          <xs:element minOccurs="0" name="product" type="xs:string" />
          <xs:element minOccurs="0" name="totalDesi" type="xs:string" />
          <xs:element minOccurs="0" name="totalKg" type="xs:string" />
          <xs:element minOccurs="0" name="totalDesiKg" type="xs:string" />
          <xs:element minOccurs="0" name="totalCargo" type="xs:string" />
          <xs:element minOccurs="0" name="arrivalUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="arrivalUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="departureUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="departureUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="cargoReasonId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoReasonExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="documentEventId" type="xs:string" />
          <xs:element minOccurs="0" name="documentReasonId" type="xs:string" />
          <xs:element minOccurs="0" name="documentEventExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="documentReasonExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="delInfoDeliveryFlag" type="xs:string" />
          <xs:element minOccurs="0" name="delInfoDelUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="delEmpName" type="xs:string" />
          <xs:element minOccurs="0" name="rejectFlag" type="xs:string" />
          <xs:element minOccurs="0" name="rejectStatus" type="xs:string" />
          <xs:element minOccurs="0" name="rejectStatusExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="rejectDescription" type="xs:string" />
          <xs:element minOccurs="0" name="rejectReasonExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="returnDocId" type="xs:string" />
          <xs:element minOccurs="0" name="returnDocumentDate" type="xs:string" />
          <xs:element minOccurs="0" name="returnDeliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="returnStatus" type="xs:string" />
          <xs:element minOccurs="0" name="returnStatusExplanation" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="invDocFieldVOArray" nillable="true" type="tns:InvDocField2VO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docCargoFieldVOArray" nillable="true" type="tns:DocCargoField2VO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docCargoLifeCycleVOArray" nillable="true" type="tns:DocCargoLifeCycleVO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docCargoVOArray" nillable="true" type="tns:DocCargoVO" />
          <xs:element minOccurs="0" name="returnTotalPrice" type="xs:string" />
          <xs:element minOccurs="0" name="returnTotalVat" type="xs:string" />
          <xs:element minOccurs="0" name="returnTotalAmount" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventDate" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventTime" type="xs:string" />
          <xs:element minOccurs="0" name="ideliveryTrackingUrl" type="xs:string" />
          <xs:element minOccurs="0" name="ideliveryTrackingUrlWithToken" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvDocField2VO">
        <xs:sequence>
          <xs:element minOccurs="0" name="docId" type="xs:string" />
          <xs:element minOccurs="0" name="fieldName" type="xs:string" />
          <xs:element minOccurs="0" name="fieldNameExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="fieldValue" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DocCargoField2VO">
        <xs:sequence>
          <xs:element minOccurs="0" name="docCargoId" type="xs:string" />
          <xs:element minOccurs="0" name="docId" type="xs:string" />
          <xs:element minOccurs="0" name="fieldName" type="xs:string" />
          <xs:element minOccurs="0" name="fieldNameExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="fieldValue" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DocCargoLifeCycleVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="docCargoId" type="xs:string" />
          <xs:element minOccurs="0" name="cityName" type="xs:string" />
          <xs:element minOccurs="0" name="eventDate" type="xs:string" />
          <xs:element minOccurs="0" name="eventId" type="xs:string" />
          <xs:element minOccurs="0" name="eventName" type="xs:string" />
          <xs:element minOccurs="0" name="eventTime" type="xs:string" />
          <xs:element minOccurs="0" name="reasonId" type="xs:string" />
          <xs:element minOccurs="0" name="reasonName" type="xs:string" />
          <xs:element minOccurs="0" name="townName" type="xs:string" />
          <xs:element minOccurs="0" name="unitId" type="xs:string" />
          <xs:element minOccurs="0" name="unitName" type="xs:string" />
          <xs:element minOccurs="0" name="desi" type="xs:string" />
          <xs:element minOccurs="0" name="kg" type="xs:string" />
          <xs:element minOccurs="0" name="desiKg" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DocCargoVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="docCargoId" type="xs:string" />
          <xs:element minOccurs="0" name="docId" type="xs:string" />
          <xs:element name="cargoNumber" type="xs:long" />
          <xs:element minOccurs="0" name="cargoType" type="xs:string" />
          <xs:element name="desi" type="xs:double" />
          <xs:element name="kg" type="xs:double" />
          <xs:element minOccurs="0" name="barcodeStringValue" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listIncomingWithDocCargoReference">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element minOccurs="0" name="custParamsVO" type="tns:CustParamsVO" />
          <xs:element minOccurs="0" name="docCargoId" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="dateParamType" type="xs:string" />
          <xs:element minOccurs="0" name="withCargoLifecycle" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listIncomingWithDocCargoReferenceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShippingDataResponseVO" type="tns:shippingDataResponseVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listNgiShippingWithPayer">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element minOccurs="0" name="customerVO" type="tns:CustomerVO" />
          <xs:element minOccurs="0" name="fieldName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fieldValueArray" type="xs:string" />
          <xs:element minOccurs="0" name="withCargoLifecycle" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CustomerVO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="invCustIdArray" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listNgiShippingWithPayerResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="XShippingV2ResponseVO" type="tns:xShippingV2ResponseVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="xShippingV2ResponseVO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResultVO">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="shippingDetailVOArray" nillable="true" type="tns:XShippingV2DetailVO" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XShippingV2DetailVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="docId" type="xs:string" />
          <xs:element minOccurs="0" name="trackingUrl" type="xs:string" />
          <xs:element minOccurs="0" name="docNumber" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCustId" type="xs:string" />
          <xs:element minOccurs="0" name="recCustName" type="xs:string" />
          <xs:element minOccurs="0" name="invCustId" type="xs:string" />
          <xs:element minOccurs="0" name="invCustName" type="xs:string" />
          <xs:element minOccurs="0" name="depUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="depCityName" type="xs:string" />
          <xs:element minOccurs="0" name="departureDate" type="xs:string" />
          <xs:element minOccurs="0" name="departureTime" type="xs:string" />
          <xs:element minOccurs="0" name="arrUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="arrUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="arrCityName" type="xs:string" />
          <xs:element minOccurs="0" name="arrivalDate" type="xs:string" />
          <xs:element minOccurs="0" name="docType" type="xs:string" />
          <xs:element minOccurs="0" name="paymentType" type="xs:string" />
          <xs:element minOccurs="0" name="pickUpType" type="xs:string" />
          <xs:element minOccurs="0" name="pickUpTypeCode" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryType" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryTypeCode" type="xs:string" />
          <xs:element minOccurs="0" name="prodName" type="xs:string" />
          <xs:element minOccurs="0" name="prodGrpName" type="xs:string" />
          <xs:element minOccurs="0" name="cargoType" type="xs:string" />
          <xs:element name="totalCargo" type="xs:int" />
          <xs:element name="totalDesiKg" type="xs:double" />
          <xs:element name="productPrice" type="xs:double" />
          <xs:element name="totalPrice" type="xs:double" />
          <xs:element name="totalVat" type="xs:double" />
          <xs:element name="totalPriceWithVat" type="xs:double" />
          <xs:element minOccurs="0" name="docCargoId" type="xs:string" />
          <xs:element minOccurs="0" name="currentUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="currentUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventDate" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventTime" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoReasonId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="cargoReasonExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="deliveredTo" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryTime" type="xs:string" />
          <xs:element minOccurs="0" name="pickupDocumentNo" type="xs:string" />
          <xs:element minOccurs="0" name="waybillNo" type="xs:string" />
          <xs:element minOccurs="0" name="extraInfo" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="activeFlag" type="xs:string" />
          <xs:element minOccurs="0" name="userCreate" type="xs:string" />
          <xs:element minOccurs="0" name="dateCreate" type="xs:string" />
          <xs:element minOccurs="0" name="timeCreate" type="xs:string" />
          <xs:element minOccurs="0" name="userUpdate" type="xs:string" />
          <xs:element minOccurs="0" name="delUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="delUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="delCityName" type="xs:string" />
          <xs:element minOccurs="0" name="depCityId" type="xs:string" />
          <xs:element minOccurs="0" name="arrCityId" type="xs:string" />
          <xs:element minOccurs="0" name="delCityId" type="xs:string" />
          <xs:element minOccurs="0" name="recAddressTxt" type="xs:string" />
          <xs:element minOccurs="0" name="invoiceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="arrUnitTelArea" type="xs:string" />
          <xs:element minOccurs="0" name="arrUnitTelNo" type="xs:string" />
          <xs:element minOccurs="0" name="arrMainUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="delMainUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="campaignName" type="xs:string" />
          <xs:element minOccurs="0" name="campaignId" type="xs:string" />
          <xs:element minOccurs="0" name="campaignKey" type="xs:string" />
          <xs:element minOccurs="0" name="insurance" type="xs:string" />
          <xs:element minOccurs="0" name="arrivalTime" type="xs:string" />
          <xs:element name="dayDiff" type="xs:int" />
          <xs:element minOccurs="0" name="recCustTelArea1" type="xs:string" />
          <xs:element minOccurs="0" name="recCustTelNo1" type="xs:string" />
          <xs:element minOccurs="0" name="depMainUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="perfCFlag" type="xs:string" />
          <xs:element name="delivDurationWorkDay" type="xs:int" />
          <xs:element name="delivDuration" type="xs:int" />
          <xs:element minOccurs="0" name="perfLateCEventId" type="xs:string" />
          <xs:element minOccurs="0" name="perfLateCReasonId" type="xs:string" />
          <xs:element minOccurs="0" name="contractId" type="xs:string" />
          <xs:element minOccurs="0" name="docFieldAllValue" type="xs:string" />
          <xs:element name="shipmentDistance" type="xs:int" />
          <xs:element minOccurs="0" name="estimatedDeliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="campaignAreaType" type="xs:string" />
          <xs:element minOccurs="0" name="reroutingFlag" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitArrivalDate" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitArrivalTime" type="xs:string" />
          <xs:element name="waybillCount" type="xs:int" />
          <xs:element minOccurs="0" name="docCarryBagNo" type="xs:string" />
          <xs:element minOccurs="0" name="senderAddress" type="xs:string" />
          <xs:element minOccurs="0" name="senderTownName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverTownName" type="xs:string" />
          <xs:element minOccurs="0" name="senderPhone1" type="xs:string" />
          <xs:element minOccurs="0" name="senderGsm" type="xs:string" />
          <xs:element minOccurs="0" name="receiverPhone1" type="xs:string" />
          <xs:element minOccurs="0" name="receiverGsm" type="xs:string" />
          <xs:element minOccurs="0" name="arrCountyId" type="xs:string" />
          <xs:element minOccurs="0" name="depCountyId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCountyName" type="xs:string" />
          <xs:element minOccurs="0" name="nextDayDeliveryFlag" type="xs:string" />
          <xs:element minOccurs="0" name="nextDayDeliveryEventId" type="xs:string" />
          <xs:element minOccurs="0" name="nextDayDeliveryReasonId" type="xs:string" />
          <xs:element minOccurs="0" name="txEventDate" type="xs:string" />
          <xs:element minOccurs="0" name="senderCountyName" type="xs:string" />
          <xs:element minOccurs="0" name="transactionChannel" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustTelArea1" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustTelNo1" type="xs:string" />
          <xs:element minOccurs="0" name="delFlag" type="xs:string" />
          <xs:element minOccurs="0" name="rejectFlag" type="xs:string" />
          <xs:element minOccurs="0" name="rejectReason" type="xs:string" />
          <xs:element minOccurs="0" name="delMainUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="arrMainUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="depMainUnitName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="invDocFieldVOArray" nillable="true" type="tns:InvDocField2VO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docCargoFieldVOArray" nillable="true" type="tns:DocCargoField2VO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docCargoLifeCycleVOArray" nillable="true" type="tns:DocCargoLifeCycleVO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docCargoVOArray" nillable="true" type="tns:DocCargoVO" />
          <xs:element minOccurs="0" name="ktnFlag" type="xs:string" />
          <xs:element minOccurs="0" name="ktnArrivalFlag" type="xs:string" />
          <xs:element minOccurs="0" name="ktnYkPlusId" type="xs:string" />
          <xs:element minOccurs="0" name="ktnType" type="xs:string" />
          <xs:element minOccurs="0" name="ktnId" type="xs:string" />
          <xs:element minOccurs="0" name="ktnUnitPrcLocationId" type="xs:string" />
          <xs:element minOccurs="0" name="ideliveryTrackingUrl" type="xs:string" />
          <xs:element minOccurs="0" name="ideliveryTrackingUrlWithToken" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listNgiShippingWithDocId">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element minOccurs="0" name="customerVO" type="tns:CustomerVO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docIdArray" type="xs:string" />
          <xs:element minOccurs="0" name="withCargoLifecycle" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listNgiShippingWithDocIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="XShippingV2ResponseVO" type="tns:xShippingV2ResponseVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listInvDocumentInterfaceByReference">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element minOccurs="0" name="custParamsVO" type="tns:CustParamsVO" />
          <xs:element minOccurs="0" name="fieldName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fieldValueArray" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docIdArray" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="dateParamType" type="xs:string" />
          <xs:element minOccurs="0" name="withCargoLifecycle" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listInvDocumentInterfaceByReferenceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShippingDataResponseVO" type="tns:shippingDataResponseVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listInvDocumentByReferenceWithPayer">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element minOccurs="0" name="customerVO" type="tns:CustomerVO" />
          <xs:element minOccurs="0" name="fieldName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fieldValueArray" type="xs:string" />
          <xs:element minOccurs="0" name="withCargoLifecycle" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listInvDocumentByReferenceWithPayerResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShippingDataResponseVO" type="tns:shippingDataResponseVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listInvDocumentByTrackingNumber">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element minOccurs="0" name="trackingParamsVO" type="tns:TrackingParamsVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TrackingParamsVO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docIdArray" type="xs:long" />
          <xs:element minOccurs="0" name="withCargoLifecycle" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listInvDocumentByTrackingNumberResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="TrackingDataResponseVO" type="tns:trackingDataResponseVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="trackingDataResponseVO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResultVO">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="trackingDetailVOArray" nillable="true" type="tns:TrackingDetailVO" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TrackingDetailVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="transactionStatus" type="xs:string" />
          <xs:element minOccurs="0" name="transactionErrCode" type="xs:string" />
          <xs:element minOccurs="0" name="transactionMessage" type="xs:string" />
          <xs:element minOccurs="0" name="fieldName" type="xs:string" />
          <xs:element minOccurs="0" name="fieldValue" type="xs:string" />
          <xs:element minOccurs="0" name="docId" type="xs:string" />
          <xs:element minOccurs="0" name="invoiceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="docNumber" type="xs:string" />
          <xs:element minOccurs="0" name="waybillNo" type="xs:string" />
          <xs:element minOccurs="0" name="docCargoId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustName" type="xs:string" />
          <xs:element minOccurs="0" name="senderAddressTxt" type="xs:string" />
          <xs:element minOccurs="0" name="invCustId" type="xs:string" />
          <xs:element minOccurs="0" name="invCustName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCustId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCustName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverAddressTxt" type="xs:string" />
          <xs:element minOccurs="0" name="senderAddressId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverAddressId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCityId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCityId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCityName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCityName" type="xs:string" />
          <xs:element minOccurs="0" name="senderTownId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverTownId" type="xs:string" />
          <xs:element minOccurs="0" name="senderTownName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverTownName" type="xs:string" />
          <xs:element minOccurs="0" name="senderMobilePhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" name="receiverMobilePhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" name="documentReceiverMobilePhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" name="documentDate" type="xs:string" />
          <xs:element minOccurs="0" name="documentTime" type="xs:string" />
          <xs:element minOccurs="0" name="documentDelFlag" type="xs:string" />
          <xs:element minOccurs="0" name="receiverInfo" type="xs:string" />
          <xs:element minOccurs="0" name="docType" type="xs:string" />
          <xs:element minOccurs="0" name="docTypeExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="contractId" type="xs:string" />
          <xs:element minOccurs="0" name="trackingUrl" type="xs:string" />
          <xs:element minOccurs="0" name="shipmentDistance" type="xs:string" />
          <xs:element minOccurs="0" name="estimatedDeliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="cargoType" type="xs:string" />
          <xs:element minOccurs="0" name="cargoTypeExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="pickupType" type="xs:string" />
          <xs:element minOccurs="0" name="pickupTypeExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryType" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryTypeExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryTime" type="xs:string" />
          <xs:element minOccurs="0" name="totalPrice" type="xs:string" />
          <xs:element minOccurs="0" name="totalVat" type="xs:string" />
          <xs:element minOccurs="0" name="totalAmount" type="xs:string" />
          <xs:element minOccurs="0" name="product" type="xs:string" />
          <xs:element minOccurs="0" name="totalDesi" type="xs:string" />
          <xs:element minOccurs="0" name="totalKg" type="xs:string" />
          <xs:element minOccurs="0" name="totalDesiKg" type="xs:string" />
          <xs:element minOccurs="0" name="totalCargo" type="xs:string" />
          <xs:element minOccurs="0" name="arrivalUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="arrivalUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="departureUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="departureUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="cargoReasonId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoReasonExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="documentEventId" type="xs:string" />
          <xs:element minOccurs="0" name="documentReasonId" type="xs:string" />
          <xs:element minOccurs="0" name="documentEventExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="documentReasonExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="delInfoDeliveryFlag" type="xs:string" />
          <xs:element minOccurs="0" name="delInfoDelUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="delEmpName" type="xs:string" />
          <xs:element minOccurs="0" name="rejectFlag" type="xs:string" />
          <xs:element minOccurs="0" name="rejectStatus" type="xs:string" />
          <xs:element minOccurs="0" name="rejectStatusExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="rejectDescription" type="xs:string" />
          <xs:element minOccurs="0" name="rejectReasonExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="returnDocId" type="xs:string" />
          <xs:element minOccurs="0" name="returnDocumentDate" type="xs:string" />
          <xs:element minOccurs="0" name="returnDeliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="returnStatus" type="xs:string" />
          <xs:element minOccurs="0" name="returnStatusExplanation" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="invDocFieldVOArray" nillable="true" type="tns:InvDocField2VO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docCargoFieldVOArray" nillable="true" type="tns:DocCargoField2VO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docCargoLifeCycleVOArray" nillable="true" type="tns:DocCargoLifeCycleVO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docCargoVOArray" nillable="true" type="tns:DocCargoVO" />
          <xs:element minOccurs="0" name="returnTotalPrice" type="xs:string" />
          <xs:element minOccurs="0" name="returnTotalVat" type="xs:string" />
          <xs:element minOccurs="0" name="returnTotalAmount" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventDate" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventTime" type="xs:string" />
          <xs:element minOccurs="0" name="ideliveryTrackingUrl" type="xs:string" />
          <xs:element minOccurs="0" name="ideliveryTrackingUrlWithToken" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listNgiShipping">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element minOccurs="0" name="custParamsVO" type="tns:CustParamsVO" />
          <xs:element minOccurs="0" name="fieldName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fieldValueArray" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docIdArray" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="dateParamType" type="xs:string" />
          <xs:element minOccurs="0" name="withCargoLifecycle" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listNgiShippingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="XShippingV2ResponseVO" type="tns:xShippingV2ResponseVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listInvDocumentByWaybillNo">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element minOccurs="0" name="custParamsVO" type="tns:CustParamsVO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="waybillNoArray" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="dateParamType" type="xs:string" />
          <xs:element minOccurs="0" name="withCargoLifecycle" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listInvDocumentByWaybillNoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShippingDataResponseVO" type="tns:shippingDataResponseVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listInvDocumentInterfaceWithFailedDeliveryV2">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element minOccurs="0" name="custParamsVO" type="tns:CustParamsVO" />
          <xs:element minOccurs="0" name="fieldName" type="xs:string" />
          <xs:element minOccurs="0" name="departureUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="dateParamType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listInvDocumentInterfaceWithFailedDeliveryV2Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShippingDataResponseVO" type="tns:shippingDataV2ResponseVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="shippingDataV2ResponseVO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:extendedBaseResultVO">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="shippingDataV2DetailVOArray" nillable="true" type="tns:ShippingDataV2DetailVO" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="extendedBaseResultVO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResultVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="errCode" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ShippingDataV2DetailVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="docId" type="xs:string" />
          <xs:element minOccurs="0" name="transactionChannel" type="xs:string" />
          <xs:element minOccurs="0" name="fieldName" type="xs:string" />
          <xs:element minOccurs="0" name="fieldValue" type="xs:string" />
          <xs:element minOccurs="0" name="documentDate" type="xs:string" />
          <xs:element minOccurs="0" name="departureUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="departureUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="estimatedDeliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="shipmentDeliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="delInfoDeliveryFlag" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustName" type="xs:string" />
          <xs:element minOccurs="0" name="invCustId" type="xs:string" />
          <xs:element minOccurs="0" name="invCustName" type="xs:string" />
          <xs:element minOccurs="0" name="arrivalUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="arrivalUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="currentUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="currentUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="cargoReasonId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoReasonExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="rejectFlag" type="xs:string" />
          <xs:element minOccurs="0" name="rejectUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="rejectRequestDate" type="xs:string" />
          <xs:element minOccurs="0" name="rejectStatus" type="xs:string" />
          <xs:element minOccurs="0" name="rejectStatusExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="rejectDescription" type="xs:string" />
          <xs:element minOccurs="0" name="rejectReasonExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="docCargoId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCustId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCustName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverAddressId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverAddressText" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDeliveryCollectionInfoByReference">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="dateType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="custDocNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="custId" type="xs:long" />
          <xs:element minOccurs="0" name="subCustomer" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDeliveryCollectionInfoByReferenceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeliveryCollectionDataResponseVO" type="tns:deliveryCollectionDataResponseVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deliveryCollectionDataResponseVO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:extendedBaseResultVO">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="deliveryCollectionInfoVOArray" nillable="true" type="tns:qListDeliveryCollectionInfoVO" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="qListDeliveryCollectionInfoVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="arrivalUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="arrivalUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="cargoStatus" type="xs:string" />
          <xs:element name="collectionAmount" type="xs:double" />
          <xs:element minOccurs="0" name="custCollectionType" type="xs:string" />
          <xs:element minOccurs="0" name="custDocNumber" type="xs:string" />
          <xs:element name="custInvoiceAmount" type="xs:double" />
          <xs:element minOccurs="0" name="dcAppliedCredit" type="xs:string" />
          <xs:element minOccurs="0" name="dcBankRefNo" type="xs:string" />
          <xs:element minOccurs="0" name="dcSelectedCredit" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="departureUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="departureUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="docFieldAllValue" type="xs:string" />
          <xs:element minOccurs="0" name="docId" type="xs:string" />
          <xs:element minOccurs="0" name="docNumber" type="xs:string" />
          <xs:element name="docPrice" type="xs:double" />
          <xs:element name="docVat" type="xs:double" />
          <xs:element minOccurs="0" name="documentDate" type="xs:string" />
          <xs:element minOccurs="0" name="dtCollectionDate" type="xs:string" />
          <xs:element minOccurs="0" name="dueDate" type="xs:string" />
          <xs:element name="dutyPrice" type="xs:double" />
          <xs:element name="dutyVat" type="xs:double" />
          <xs:element minOccurs="0" name="invoiceStatus" type="xs:string" />
          <xs:element minOccurs="0" name="lastEventDate" type="xs:string" />
          <xs:element minOccurs="0" name="lastEventTime" type="xs:string" />
          <xs:element minOccurs="0" name="odCollectionDate" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCustName" type="xs:string" />
          <xs:element minOccurs="0" name="rejectFlag" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustName" type="xs:string" />
          <xs:element minOccurs="0" name="specialField" type="xs:string" />
          <xs:element minOccurs="0" name="ykInvoiceId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listInvDocumentByCustIdV2">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element minOccurs="0" name="custParamsVO" type="tns:CustParamsVO" />
          <xs:element minOccurs="0" name="unitParamsVO" type="tns:UnitParamsVO" />
          <xs:element minOccurs="0" name="subCustomerFlag" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="dateParamType" type="xs:string" />
          <xs:element minOccurs="0" name="wsUserGroupId" type="xs:string" />
          <xs:element minOccurs="0" name="withCargoLifecycle" type="xs:string" />
          <xs:element name="pageSequenceNumber" type="xs:long" />
          <xs:element name="totalPages" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UnitParamsVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="departureUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listInvDocumentByCustIdV2Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShippingDataV3ResponseVO" type="tns:shippingDataV3ResponseVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="shippingDataV3ResponseVO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResultVO">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="shippingDataDetailVOArray" nillable="true" type="tns:ShippingDataV3DetailVO" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ShippingDataV3DetailVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="fieldName" type="xs:string" />
          <xs:element minOccurs="0" name="fieldValue" type="xs:string" />
          <xs:element minOccurs="0" name="docId" type="xs:string" />
          <xs:element minOccurs="0" name="transactionChannel" type="xs:string" />
          <xs:element minOccurs="0" name="invoiceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="docNumber" type="xs:string" />
          <xs:element minOccurs="0" name="waybillNo" type="xs:string" />
          <xs:element minOccurs="0" name="docCargoId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCustName" type="xs:string" />
          <xs:element minOccurs="0" name="senderAddressTxt" type="xs:string" />
          <xs:element minOccurs="0" name="invCustId" type="xs:string" />
          <xs:element minOccurs="0" name="invCustName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCustId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCustName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverAddressTxt" type="xs:string" />
          <xs:element minOccurs="0" name="senderAddressId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverAddressId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCityId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCityId" type="xs:string" />
          <xs:element minOccurs="0" name="senderCityName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverCityName" type="xs:string" />
          <xs:element minOccurs="0" name="senderTownId" type="xs:string" />
          <xs:element minOccurs="0" name="receiverTownId" type="xs:string" />
          <xs:element minOccurs="0" name="senderTownName" type="xs:string" />
          <xs:element minOccurs="0" name="receiverTownName" type="xs:string" />
          <xs:element minOccurs="0" name="senderMobilePhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" name="receiverMobilePhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" name="documentReceiverMobilePhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" name="documentDate" type="xs:string" />
          <xs:element minOccurs="0" name="documentTime" type="xs:string" />
          <xs:element minOccurs="0" name="documentDelFlag" type="xs:string" />
          <xs:element minOccurs="0" name="receiverInfo" type="xs:string" />
          <xs:element minOccurs="0" name="docType" type="xs:string" />
          <xs:element minOccurs="0" name="docTypeExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="contractId" type="xs:string" />
          <xs:element minOccurs="0" name="trackingUrl" type="xs:string" />
          <xs:element minOccurs="0" name="shipmentDistance" type="xs:string" />
          <xs:element minOccurs="0" name="estimatedDeliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="cargoType" type="xs:string" />
          <xs:element minOccurs="0" name="cargoTypeExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="pickupType" type="xs:string" />
          <xs:element minOccurs="0" name="pickupTypeExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryType" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryTypeExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryTime" type="xs:string" />
          <xs:element minOccurs="0" name="totalPrice" type="xs:string" />
          <xs:element minOccurs="0" name="totalVat" type="xs:string" />
          <xs:element minOccurs="0" name="totalAmount" type="xs:string" />
          <xs:element minOccurs="0" name="product" type="xs:string" />
          <xs:element minOccurs="0" name="totalDesi" type="xs:string" />
          <xs:element minOccurs="0" name="totalKg" type="xs:string" />
          <xs:element minOccurs="0" name="totalDesiKg" type="xs:string" />
          <xs:element minOccurs="0" name="totalCargo" type="xs:string" />
          <xs:element minOccurs="0" name="arrivalUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="arrivalUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="departureUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="departureUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryUnitName" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoEventExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="cargoReasonId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoReasonExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="documentEventId" type="xs:string" />
          <xs:element minOccurs="0" name="documentReasonId" type="xs:string" />
          <xs:element minOccurs="0" name="documentEventExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="documentReasonExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="delInfoDeliveryFlag" type="xs:string" />
          <xs:element minOccurs="0" name="delInfoDelUnitId" type="xs:string" />
          <xs:element minOccurs="0" name="delEmpName" type="xs:string" />
          <xs:element minOccurs="0" name="rejectFlag" type="xs:string" />
          <xs:element minOccurs="0" name="rejectStatus" type="xs:string" />
          <xs:element minOccurs="0" name="rejectStatusExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="rejectDescription" type="xs:string" />
          <xs:element minOccurs="0" name="rejectReasonExplanation" type="xs:string" />
          <xs:element minOccurs="0" name="returnDocId" type="xs:string" />
          <xs:element minOccurs="0" name="returnDocumentDate" type="xs:string" />
          <xs:element minOccurs="0" name="returnDeliveryDate" type="xs:string" />
          <xs:element minOccurs="0" name="returnStatus" type="xs:string" />
          <xs:element minOccurs="0" name="returnStatusExplanation" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="invDocFieldVOArray" nillable="true" type="tns:InvDocField2VO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docCargoFieldVOArray" nillable="true" type="tns:DocCargoField2VO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docCargoLifeCycleVOArray" nillable="true" type="tns:DocCargoLifeCycleVO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docCargoVOArray" nillable="true" type="tns:DocCargoVO" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://yurticikargo.com.tr/WSExceptions/" targetNamespace="http://yurticikargo.com.tr/WSExceptions/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="YurticikargoWSException" type="tns:YurticikargoWSException" />
      <xs:complexType name="YurticikargoWSException">
        <xs:sequence>
          <xs:element name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="errText" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="WsReportWithReferenceServices_getDeliveryCollectionInfoByReferenceResponse">
    <part name="getDeliveryCollectionInfoByReferenceResponse" element="tns:getDeliveryCollectionInfoByReferenceResponse" />
  </message>
  <message name="WsReportWithReferenceServices_listNgiShippingResponse">
    <part name="listNgiShippingResponse" element="tns:listNgiShippingResponse" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentByReferenceWithPayer">
    <part name="listInvDocumentByReferenceWithPayer" element="tns:listInvDocumentByReferenceWithPayer" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentByWaybillNoResponse">
    <part name="listInvDocumentByWaybillNoResponse" element="tns:listInvDocumentByWaybillNoResponse" />
  </message>
  <message name="WsReportWithReferenceServices_listNgiShipping">
    <part name="listNgiShipping" element="tns:listNgiShipping" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentByCustIdV2Response">
    <part name="listInvDocumentByCustIdV2Response" element="tns:listInvDocumentByCustIdV2Response" />
  </message>
  <message name="WsReportWithReferenceServices_listNgiShippingWithDocIdResponse">
    <part name="listNgiShippingWithDocIdResponse" element="tns:listNgiShippingWithDocIdResponse" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentByGrpSpecialField">
    <part name="listInvDocumentByGrpSpecialField" element="tns:listInvDocumentByGrpSpecialField" />
  </message>
  <message name="WsReportWithReferenceServices_listNgiShippingWithPayerResponse">
    <part name="listNgiShippingWithPayerResponse" element="tns:listNgiShippingWithPayerResponse" />
  </message>
  <message name="WsReportWithReferenceServices_listIncomingWithDocCargoReferenceResponse">
    <part name="listIncomingWithDocCargoReferenceResponse" element="tns:listIncomingWithDocCargoReferenceResponse" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentInterfaceByReference">
    <part name="listInvDocumentInterfaceByReference" element="tns:listInvDocumentInterfaceByReference" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentByTrackingNumberResponse">
    <part name="listInvDocumentByTrackingNumberResponse" element="tns:listInvDocumentByTrackingNumberResponse" />
  </message>
  <message name="WsReportWithReferenceServices_listIncomingWithDocCargoReference">
    <part name="listIncomingWithDocCargoReference" element="tns:listIncomingWithDocCargoReference" />
  </message>
  <message name="YurticikargoWSException">
    <part name="YurticikargoWSException" element="tns:YurticikargoWSException" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentByGrpSpecialFieldResponse">
    <part name="listInvDocumentByGrpSpecialFieldResponse" element="tns:listInvDocumentByGrpSpecialFieldResponse" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentInterfaceWithFailedDeliveryV2">
    <part name="listInvDocumentInterfaceWithFailedDeliveryV2" element="tns:listInvDocumentInterfaceWithFailedDeliveryV2" />
  </message>
  <message name="WsReportWithReferenceServices_listNgiShippingWithPayer">
    <part name="listNgiShippingWithPayer" element="tns:listNgiShippingWithPayer" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentByWaybillNo">
    <part name="listInvDocumentByWaybillNo" element="tns:listInvDocumentByWaybillNo" />
  </message>
  <message name="WsReportWithReferenceServices_listNgiShippingWithDocId">
    <part name="listNgiShippingWithDocId" element="tns:listNgiShippingWithDocId" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentByTrackingNumber">
    <part name="listInvDocumentByTrackingNumber" element="tns:listInvDocumentByTrackingNumber" />
  </message>
  <message name="WsReportWithReferenceServices_getDeliveryCollectionInfoByReference">
    <part name="getDeliveryCollectionInfoByReference" element="tns:getDeliveryCollectionInfoByReference" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentByCustIdV2">
    <part name="listInvDocumentByCustIdV2" element="tns:listInvDocumentByCustIdV2" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentByReferenceWithPayerResponse">
    <part name="listInvDocumentByReferenceWithPayerResponse" element="tns:listInvDocumentByReferenceWithPayerResponse" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentInterfaceByReferenceResponse">
    <part name="listInvDocumentInterfaceByReferenceResponse" element="tns:listInvDocumentInterfaceByReferenceResponse" />
  </message>
  <message name="WsReportWithReferenceServices_listInvDocumentInterfaceWithFailedDeliveryV2Response">
    <part name="listInvDocumentInterfaceWithFailedDeliveryV2Response" element="tns:listInvDocumentInterfaceWithFailedDeliveryV2Response" />
  </message>
  <portType name="WsReportWithReferenceServices">
    <operation name="getDeliveryCollectionInfoByReference" parameterOrder="getDeliveryCollectionInfoByReference">
      <input message="tns:WsReportWithReferenceServices_getDeliveryCollectionInfoByReference" />
      <output message="tns:WsReportWithReferenceServices_getDeliveryCollectionInfoByReferenceResponse" />
      <fault name="YurticikargoWSException" message="tns:YurticikargoWSException" />
    </operation>
    <operation name="listIncomingWithDocCargoReference" parameterOrder="listIncomingWithDocCargoReference">
      <input message="tns:WsReportWithReferenceServices_listIncomingWithDocCargoReference" />
      <output message="tns:WsReportWithReferenceServices_listIncomingWithDocCargoReferenceResponse" />
      <fault name="YurticikargoWSException" message="tns:YurticikargoWSException" />
    </operation>
    <operation name="listInvDocumentByCustIdV2" parameterOrder="listInvDocumentByCustIdV2">
      <input message="tns:WsReportWithReferenceServices_listInvDocumentByCustIdV2" />
      <output message="tns:WsReportWithReferenceServices_listInvDocumentByCustIdV2Response" />
      <fault name="YurticikargoWSException" message="tns:YurticikargoWSException" />
    </operation>
    <operation name="listInvDocumentByGrpSpecialField" parameterOrder="listInvDocumentByGrpSpecialField">
      <input message="tns:WsReportWithReferenceServices_listInvDocumentByGrpSpecialField" />
      <output message="tns:WsReportWithReferenceServices_listInvDocumentByGrpSpecialFieldResponse" />
      <fault name="YurticikargoWSException" message="tns:YurticikargoWSException" />
    </operation>
    <operation name="listInvDocumentByReferenceWithPayer" parameterOrder="listInvDocumentByReferenceWithPayer">
      <input message="tns:WsReportWithReferenceServices_listInvDocumentByReferenceWithPayer" />
      <output message="tns:WsReportWithReferenceServices_listInvDocumentByReferenceWithPayerResponse" />
      <fault name="YurticikargoWSException" message="tns:YurticikargoWSException" />
    </operation>
    <operation name="listInvDocumentByTrackingNumber" parameterOrder="listInvDocumentByTrackingNumber">
      <input message="tns:WsReportWithReferenceServices_listInvDocumentByTrackingNumber" />
      <output message="tns:WsReportWithReferenceServices_listInvDocumentByTrackingNumberResponse" />
      <fault name="YurticikargoWSException" message="tns:YurticikargoWSException" />
    </operation>
    <operation name="listInvDocumentByWaybillNo" parameterOrder="listInvDocumentByWaybillNo">
      <input message="tns:WsReportWithReferenceServices_listInvDocumentByWaybillNo" />
      <output message="tns:WsReportWithReferenceServices_listInvDocumentByWaybillNoResponse" />
      <fault name="YurticikargoWSException" message="tns:YurticikargoWSException" />
    </operation>
    <operation name="listInvDocumentInterfaceByReference" parameterOrder="listInvDocumentInterfaceByReference">
      <input message="tns:WsReportWithReferenceServices_listInvDocumentInterfaceByReference" />
      <output message="tns:WsReportWithReferenceServices_listInvDocumentInterfaceByReferenceResponse" />
      <fault name="YurticikargoWSException" message="tns:YurticikargoWSException" />
    </operation>
    <operation name="listInvDocumentInterfaceWithFailedDeliveryV2" parameterOrder="listInvDocumentInterfaceWithFailedDeliveryV2">
      <input message="tns:WsReportWithReferenceServices_listInvDocumentInterfaceWithFailedDeliveryV2" />
      <output message="tns:WsReportWithReferenceServices_listInvDocumentInterfaceWithFailedDeliveryV2Response" />
      <fault name="YurticikargoWSException" message="tns:YurticikargoWSException" />
    </operation>
    <operation name="listNgiShipping" parameterOrder="listNgiShipping">
      <input message="tns:WsReportWithReferenceServices_listNgiShipping" />
      <output message="tns:WsReportWithReferenceServices_listNgiShippingResponse" />
      <fault name="YurticikargoWSException" message="tns:YurticikargoWSException" />
    </operation>
    <operation name="listNgiShippingWithDocId" parameterOrder="listNgiShippingWithDocId">
      <input message="tns:WsReportWithReferenceServices_listNgiShippingWithDocId" />
      <output message="tns:WsReportWithReferenceServices_listNgiShippingWithDocIdResponse" />
      <fault name="YurticikargoWSException" message="tns:YurticikargoWSException" />
    </operation>
    <operation name="listNgiShippingWithPayer" parameterOrder="listNgiShippingWithPayer">
      <input message="tns:WsReportWithReferenceServices_listNgiShippingWithPayer" />
      <output message="tns:WsReportWithReferenceServices_listNgiShippingWithPayerResponse" />
      <fault name="YurticikargoWSException" message="tns:YurticikargoWSException" />
    </operation>
  </portType>
  <binding name="WsReportWithReferenceServicesBinding" type="tns:WsReportWithReferenceServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getDeliveryCollectionInfoByReference">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="YurticikargoWSException">
        <soap:fault use="literal" name="YurticikargoWSException" namespace="" />
      </fault>
    </operation>
    <operation name="listIncomingWithDocCargoReference">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="YurticikargoWSException">
        <soap:fault use="literal" name="YurticikargoWSException" namespace="" />
      </fault>
    </operation>
    <operation name="listInvDocumentByCustIdV2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="YurticikargoWSException">
        <soap:fault use="literal" name="YurticikargoWSException" namespace="" />
      </fault>
    </operation>
    <operation name="listInvDocumentByGrpSpecialField">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="YurticikargoWSException">
        <soap:fault use="literal" name="YurticikargoWSException" namespace="" />
      </fault>
    </operation>
    <operation name="listInvDocumentByReferenceWithPayer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="YurticikargoWSException">
        <soap:fault use="literal" name="YurticikargoWSException" namespace="" />
      </fault>
    </operation>
    <operation name="listInvDocumentByTrackingNumber">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="YurticikargoWSException">
        <soap:fault use="literal" name="YurticikargoWSException" namespace="" />
      </fault>
    </operation>
    <operation name="listInvDocumentByWaybillNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="YurticikargoWSException">
        <soap:fault use="literal" name="YurticikargoWSException" namespace="" />
      </fault>
    </operation>
    <operation name="listInvDocumentInterfaceByReference">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="YurticikargoWSException">
        <soap:fault use="literal" name="YurticikargoWSException" namespace="" />
      </fault>
    </operation>
    <operation name="listInvDocumentInterfaceWithFailedDeliveryV2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="YurticikargoWSException">
        <soap:fault use="literal" name="YurticikargoWSException" namespace="" />
      </fault>
    </operation>
    <operation name="listNgiShipping">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="YurticikargoWSException">
        <soap:fault use="literal" name="YurticikargoWSException" namespace="" />
      </fault>
    </operation>
    <operation name="listNgiShippingWithDocId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="YurticikargoWSException">
        <soap:fault use="literal" name="YurticikargoWSException" namespace="" />
      </fault>
    </operation>
    <operation name="listNgiShippingWithPayer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="YurticikargoWSException">
        <soap:fault use="literal" name="YurticikargoWSException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="KOPSWebServices">
    <port name="WsReportWithReferenceServicesPort" binding="tns:WsReportWithReferenceServicesBinding">
      <soap:address location="https://ws.yurticikargo.com/KOPSWebServices/WsReportWithReferenceServices" />
    </port>
  </service>
</definitions>